.blog{
    width: 100%;
    height: auto;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
}
.blog>h3{
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 80px;
}
.blogSimple{
    text-align: center;
    font-size: 20px;
    color: #5bd9b3;
}
.container{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}
.blogRadius{
    padding-bottom: 30px;
    display: flex;
}
.blogRadius1{
    padding-bottom: 30px;
    display: flex;
}
.box{
    margin-left: 90px;
}
.radius{

    width: 90px;
    height: 90px;
    background: whitesmoke;
    border-radius:50% ;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.radius1{
    width: 90px;
    height: 90px;
    background: whitesmoke;
    border-radius:50% ;
}
.page>h4{
    font-size: 24px;
    margin-left: 20px;
}
.text{
    margin-left: 20px;
    width: 390px;
    font-size: 17px;
    margin-top: 15px;
}
@media only screen and (max-width: 1470px){
    .page>h4{
        font-size: 28px;
        margin-left: 20px;
    }
    .text{
        margin-left: 20px;
        width: 340px;
        font-size: 17px;
    }
}
@media only screen and (max-width: 1400px){
    .box{
        margin-left: 30px;
    }
    .page>h4{
        font-size: 24px;
    }
    .text{
        margin-left: 20px;
        width: 300px;
        font-size: 17px;
    }
}
@media only screen and (max-width: 1250px){
    .box{
        margin-left: 30px;
    }
    .page>h4{
        font-size: 20px;
    }
    .text{
        margin-left: 20px;
        width: 250px;
        font-size: 17px;
    }
}
@media only screen and (max-width: 1250px){
    .page>h4{
        font-size: 18px;
    }
    .text{
        margin-left: 20px;
        width: 230px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1114px){
    .page>h4{
        font-size: 15px;
    }
    .text{
        margin-left: 20px;
        width: 200px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1055px){
    .page>h4{
        font-size: 15px;
    }
    .text{
        margin-left: 20px;
        width: 170px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1055px){
    .page>h4{
        font-size: 15px;
    }
    .text{
        margin-left: 20px;
        width: 170px;
        font-size: 15px;
    }
    .logo{
        display: none;
    }
}
@media only screen and (max-width: 1055px){
    .box{
        margin-right: 60px;
    }
    .page>h4{
        font-size: 20px;
    }
    .text{
        margin-left: 20px;
        width: 300px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 915px){
    .box{
        margin-right: 70px;
    }
    .page>h4{
        font-size: 18px;
    }
    .text{
        margin-left: 20px;
        width: 250px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 813px){
    .box{
        margin-right: 70px;
    }
    .page>h4{
        font-size: 18px;
    }
    .text{
        margin-left: 20px;
        width: 200px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 813px){
    .box{
        margin-right: 70px;
    }
    .page>h4{
        font-size: 18px;
    }
    .text{
        margin-left: 20px;
        width: 200px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 711px){
    .container {
        flex-direction: column;
    }
    .box{
        flex-direction: column;
        margin-right: 0;
    }
    .page>h4{
        font-size: 18px;
    }
    .blogRadius1{
        margin-left: 29px;
        margin-right: 10px;
    }
    .text{
        margin-left: 20px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 711px){
    .container {
        flex-direction: column;
    }
    .box{
        flex-direction: column;
        margin-right: 0;
    }
    .page>h4{
        font-size: 18px;
    }
    .blogRadius1{

        margin-left: 29px;
        margin-right: 10px;
    }
    .text{
        margin-left: 20px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 500px){
    .radius{
        display: none;
    }
    .radius1{
        display: none;
    }
    .blog>h3{
        font-size: 30px;
    }
}
@media only screen and (max-width: 330px){
    .blog>h3{
        font-size: 20px;
    }
}